    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
    font-feature-settings: "cv02","cv03","cv04","cv11";
    --spacing-16-14: 1.142857142857143em;
    --spacing-8-14: 0.571428571428571em;
    --scroll-mt: 12rem;
    --font-inter: "Inter","Inter Fallback",-apple-system,BlinkMacSystemFont,Segoe UI,system-ui,sans-serif;
    --font-jetbrains-mono: "JetBrains Mono","JetBrains Mono Fallback",SF Mono,SFMono-Regular,Menlo,Monaco,Cascadia Mono,Segoe UI Mono,Roboto Mono,Oxygen Mono,Ubuntu Monospace,Source Code Pro,Fira Mono,Droid Sans Mono,Consolas,Courier New,monospace;
    --twoslash-border-color: #dbdfde;
    --twoslash-underline-color: currentColor;
    --twoslash-popup-bg: #f3f7f6;
    --twoslash-popup-color: inherit;
    --twoslash-popup-shadow: rgba(0,0,0,0.08) 0px 1px 4px;
    --twoslash-code-font: inherit;
    --twoslash-code-font-size: 1em;
    --twoslash-matched-color: inherit;
    --twoslash-highlighted-border: #c37d0d50;
    --twoslash-highlighted-bg: #c37d0d20;
    --twoslash-unmatched-color: #888;
    --twoslash-cursor-color: #8888;
    --twoslash-error-color: #d45656;
    --twoslash-error-bg: #d4565620;
    --twoslash-warn-color: #c37d0d;
    --twoslash-warn-bg: #c37d0d20;
    --twoslash-tag-color: #3772cf;
    --twoslash-tag-bg: #3772cf20;
    --twoslash-tag-warn-color: var(--twoslash-warn-color);
    --twoslash-tag-warn-bg: var(--twoslash-warn-bg);
    --twoslash-tag-annotate-color: #1ba673;
    --twoslash-tag-annotate-bg: #1ba67320;
    --twoslash-text-size: 0.8rem;
    --twoslash-docs-tag-style: italic;
    --primary: 255 87 137;
    --primary-light: 255 87 137;
    --primary-dark: 255 87 137;
    --tooltip-foreground: 255 255 255;
    --background-light: 255 255 255;
    --background-dark: 14 11 14;
    --gray-50: 250 245 247;
    --gray-100: 245 240 242;
    --gray-200: 230 225 226;
    --gray-300: 213 208 210;
    --gray-400: 166 161 162;
    --gray-500: 119 114 116;
    --gray-600: 87 82 84;
    --gray-700: 70 65 66;
    --gray-800: 45 39 41;
    --gray-900: 30 25 26;
    --gray-950: 17 12 14;
    color-scheme: light;
    --assistant-sheet-width: 0px;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: rgb(var(--gray-200));
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style: ;
    margin: 0;
    line-height: inherit;
    font-family: var(--font-family-body-custom,var(--font-inter)),-apple-system,BlinkMacSystemFont,"Segoe UI",system-ui,sans-serif;
    font-weight: var(--font-weight-body-custom,inherit);
    min-height: 100%;